.Products {
    display: flex;
    border-top: 1px solid #ffcdea;
    border-bottom: 1px solid #ffcdea;
    width: 80vw;
    height: auto;
    padding: 60px 0 60px 0;
    margin-bottom: 50px;
}

.Emotes-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 50%;
    border-right: 1px solid #ffcdea;  
}

.holder-content {
    width: 50%;
}

.img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 50%;
}

.cat-back {
    width: 400px;
}