.toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

input[type="checkbox"].checkbox {
    width: 47px;
    height: 22px;
    background: #FFF1F9;
    border: 1px solid #fde5f3;
    position: relative;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
}

input[type="checkbox"].checkbox:checked+label {
    left: 27px;
    height: 22px;
    width: 22px;
    background-image: url(./Img/Moon.svg);
    background-size: 12px;
    transition: 0.10s ease-in;
    background-position: center;
}

input[type="checkbox"].checkbox+label {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 6px;
    background-color: #ffcdea;
    background-image: url(./Img/Sun.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    transition: 0.10s ease-in;
}

.toggle-container {
    display: flex;
    margin: 0 auto;
    padding-left: 19vw;

}

.toggle-container>span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
}

.toggle-container>span:last-child {
    margin-top: 5px;
}