.Slider {
    width: 80vw;
    height: 55vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    max-width: 55vw;
    pointer-events: stroke;
}

.Right {
    right: 8vw;
}

.Left {
    left: 8vw;
}

.Right, .Left {
    top: calc(50% - 20px);
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 1024.98px) {
    .Slider {
        width: 95vw;
        height: 32vh;
    }
    img {
        max-width: 65vw;
    }
}

@media (max-width: 834.98px) {
    .Slider {
        width: 97vw;
    }
}

@media (max-width: 768.98px) {
    .Slider {
        width: 100vw;
    }
    img {
        max-width: 69vw;
    }
}

@media (max-width: 480.98px) {
    .Right {
        right: 0.5vw;
    }
    .Left {
        left: 0.5vw;
    }
    img {
        max-width: 84vw;
    }
}

@media (max-width: 414.98px) {
    .Right, .Left {
        top: 33.5vh;
    }
    .Right {
        left: 51vw;
    }
    .Left {
        left: 40vw;
    }
    img {
        max-width: 95vw;
    }
    .Slider {
        margin-bottom: 60px;
    }
}